$max-width: 749px;
$min-width: 750px;
$small-device-width: 450px;

#add-job-component {
  position: fixed;
  top: 5.3em;
  left: 10.5%;
  font-size: 0.8em;
  z-index: 700;
  margin-bottom: 0;

  button#delete-button {
    display: none;
  }

  #delete-tips {
    display: none;
  }
}
#add-job-container {
  outline: 3px solid black;
}
