$small-device-width: 450px;


// Generic styling for elements
body {
  font-size: 20px;
  width: 100%;
  min-width: 500px;
}
@media (max-device-width: $small-device-width) {
  body {
    font-size: 30px;
  }
}

li {
  list-style: none;
}

// Nav Stylings
#main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #3e3d3d;
  color: white;
  width: 100%;
  height: 2.3em;
  font-size: 1.5em;
  align-items: center;
  padding: 2%;
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 490px;

  /* TODO -- bottom box-shadow */

  ul#profile-dropdown {
    &:hover {
      cursor: pointer;
    }
    
    & > * {
      display: none;
    }
  }
}


// Content Container
#secondary-app-container {
  margin: 5% 10%;
  margin-top: 5em;
  min-height: 100vh;
}

#footer {
  text-align: center;
  height: 2.3em;
  background-color: cadetblue;
  width: 100%;
  z-index: 200;
  margin-top: 4em;
}

.dropdown-component {
  position: relative;

  .default-dropdown-option:hover {
    cursor: pointer;
    font-weight: bold;
  }

  ul.dropdown-list {
    position: absolute;
    top: 0.5em;
    right: -2em;
    margin-top: 1em;
    background-color: white;
    border: 2px solid black;
    padding: 1em;

    li {
      margin-bottom: 0.5em;
      text-align: end;
      padding-right: 1em;
      &:hover{
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

// Home Component styles
@import 'home';


// Edit Form Component Styles
@import 'edit-form';

.container-title {
  font-size: 1.5em;
  align-self: center;
  font-weight: bold;
}


.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}