$max-width: 749px;
$min-width: 750px;
$small-device-width: 450px;

#home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 3em;
  position: relative;

  & > * {
    margin-bottom: 5%;
  }

}

#list-title {
  font-size: 1.5em;
  width: 5em;

  &:hover {
    cursor: pointer;
  }
}

// large screen styles
@media (min-width: $min-width) {
  #list-title-container {
    position: fixed;
    z-index: 400;
    width: 100%;
    text-align: center;
    background: white;
    padding: 1.15em;
    top: 3.3em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  #table-header-copy {
    position: fixed;
    top: 10em;
    font-size: 0.75em;
    width: 79%;
    left: 6.5em;

    .company-data-cell {
      width: 121px
    }
    .role-data-cell {
      width: 139px;
    }
    .contact-data-cell {
      width: 224px;
    }
    .status-data-cell {
      width: 157px;
    }
    .date-data-cell {
      width: 133px;
    }
  }
}
// Jobs View Container
@import 'jobsView';