form#job-extended {
  min-width: 400px;

  & > *, & > * > div {
    margin-bottom: 1em;
  }

  div.job-req { display: none; }

  label { 
    float: left;
    padding-bottom: 1em;
    color: darkgrey;
    font-size: 1.2em;
  }

  button.form-done {
    align-self: flex-end;
  }

  button#add-job {
    margin-top: 2em;
    align-self: center;
  }

  input {
    padding: 1.2em;
    font-size: 1.3em;
  }
}

.shortcut-tips {
  color: #777575;
}

#verify-delete {
  position: fixed;
  background-color: white;
  border: 2px solid red;
  padding: 1em;
  flex-flow: column nowrap;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 25em;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 1em;
  background: rgb(250, 215, 215);
  & > * {
    margin-bottom: 2em;
  }
}


.form-line-component#status-div {
  width: 20%;
  position: relative;

  & button {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .dropdown-menu {
    left: -3em;

    li {
      margin: 1em;
    }
  }
}

.added-job {
  border: 1px solid darkgrey;
  box-shadow: 0 1px 8px 0 rgba(197, 141, 141, 0.2), 0 6px 10px -2px rgba(0, 0, 0, 0.19);
  padding: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5%;

  span.remove-added-job {
    visibility: hidden;
    position: absolute;
    right: -3%;
    top: -10%;
    font-size: 1.5em;
    background-color: white;
  }

  a:hover {
    font-size: 1.05em;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0 1px 8px 0 rgb(46, 44, 232), 0 6px 10px -2px rgba(0, 134, 253, 0.19);
    cursor: pointer;
  }

  .job-status {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    span.glyphicon-menu-down {
      font-size: 0.75em;
      color: rgba(99,99,99, 0.7);
      padding: 8%;
      top: -20%;
      font-weight: bold;

      &:hover {
        color: rgba(14, 118, 142, 0.88);
        transform: scale(1.3)
      }
    }
  }
}


@media (max-width: $max-width) {

  .form-line {
    display: flex;
    flex-flow: row nowrap;
  }

  .form-line-component {
    padding: 0 1%;
  }

}