$max-width: 749px;
$min-width: 750px;
$small-device-width: 450px;

// basic styles 

#jobs-view-container {
  font-size: 0.86em;
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  overflow: auto;
  position: fixed;
  width: 80%;
  bottom: 2%;
  top: 6em;
  z-index: 600;

  // // max-height: 80%; 
  // font-size: 0.86em;
  // display: flex;
  // flex-flow: column nowrap;
  // min-width: 400px;
  // overflow: auto;
  // /* position: fixed; */
  // width: 80%;
  // bottom: 2%;
  // top: 6em;
  // z-index: 500;
}

.job-container, .table-job-container {
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}

#page-controls {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  position: relative;

  * {
    padding: 0 1em;
  }

  & > .glyphicon:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
}

// small screen specific styles
@media (min-device-width: $small-device-width + 1) {
  #sort-desc, #sort-asc {
    &.icon-active:hover {
      color: black;
      cursor: pointer;
    }
  }
}

@media(max-width: $max-width), (max-device-width: $small-device-width) {
  #view-options-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 290px;
    top: 7.5em;
  }

  #small-screen-order-direction {
    #sort-desc, #sort-asc {
      color: darkgrey;

      &.black {
        color: black;
      }
    }
  }


  #small-screen-sort-by-options {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7em;

    * {
      margin-left: 0.4em;
    }

    .dropdown-component {
      z-index: 200;

      ul.dropdown-list {
        width: 200px;
      }
    }
  }

  #page-controls {
    width: 80%;
    font-size: 1.6em;
    bottom: 0em;
    padding-bottom: 3em;
  }

  #jobs-view-container {
    align-items: center;

    table {
      display: none;
    }

    #components-view {
      width: 100%;
      position: relative;
      padding: 1em;
    }
  }

  #list-legend {
    display: none;
  }

  .job-container {
    flex-flow: column nowrap;
    position: relative;
    /* margin-bottom: 10%; */
    display: flex;
    text-align: center;
    width: 80%;
    padding: 5%;
    border-radius: 10px;
    border: 2px dotted rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 10%;
    height: 10em;

    & .company-detail {
      margin: 3%;
      font-size: 1.5em;
      font-weight: bold;
    }

    & .role-detail {
      margin: 3%;
      margin-bottom: 5%;
      font-size: 1.3em;
      font-weight: bold;
    }

    & .date-detail {
      top: 10%;
      right: 5%;
      position: absolute;
      font-size: 0.95em;
    }

    & .status-detail {
      font-size: 0.95em;
      font-weight: bold;
    }

    & .contact-detail {
      display: none;
    }
  }
}

@media (max-device-width: $small-device-width), (max-width: $min-width - 1) {
  #jobs-view-container {
    top: 8.5em;
  }
}

// large screen specific styles
@media(min-width: $min-width) and (min-device-width: $small-device-width + 1) {

  #small-screen-sort-by-options, #small-screen-order-direction {
    display: none;
  }
  #components-view {
    display: none;
  }

  th {
    border-bottom: 2px solid rgba(0,0,0,0.8);
    font-weight: bolder;
    position: relative;
    
    .outside-table-header-container {
      display: flex;
      justify-content: space-around;
    }

    .table-header-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    .sort-icon-container {
      display: flex;
      flex-flow: column nowrap;
      font-size: 0.6em;
      margin-left: 5px;
      color: darkgrey;
      & * {
        z-index: -100;
      }

      &:hover {
        color: black;
        cursor: pointer;
      }
    }

  }

  table {
    width: 99%;
    border-collapse: initial;
    border-spacing: 0 0.5em;
    font-size: 0.85em;


    tr {
      height: 50px;
    }

    td, th {
      text-align: center;
      font-weight: bold;
    }

    td {
      border-bottom: 2px solid rgba(0,0,0,0.3);
      min-width: 1em;
    }

  }



  #jobs-list-table thead {
    display: none
  }
  #jobs-list-table {
    position: relative;
    top: 4em;

    tr td:first-child {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }

    tr td:last-child {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
  }

  #copy-table {
    position: fixed;
    z-index: 100;
    background: white;
    width: 80%;
    top: 9em;
  }


  #jobs-view-container {
    margin-top: 2em;
  }

  #page-controls {
    // position: fixed;
    // top: 8.3em;
    // right: 10.5%;
    // font-size: 0.8em;
    // z-index: 400;

    position: fixed;
    top: 8em;
    right: 10.5%;
    font-size: 0.8em;
  }
}



// over-write generic grey table background
// #jobs-view-container {
  .applied, table tr.applied {
    background-color: rgba(220, 255, 230, 0.8);
  }
  .phone-screen {
    background-color: #C9F7D4;
  }
  .on-site {
    background-color: #85ED9F;
  }
  .offer {
    background-color: #5DE77F;
  }
  .rejected {
    background-color: rgba(253,106,106,0.6);
  }
// }


/*
#D6F6D9
#AEEEB4
#78E382
#43D950


#E4FBE9
#AEF3BF
#85ED9F
#42E36A

*/