// Nav Stylings
#main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  // background-color: #3e3d3d;
  background-color: #483030;
  border-top: 5px solid #94e294;
  color: white;
  width: 100%;
  height: 2.3em;
  font-size: 1.2em;
  padding: 0.6em;
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 490px;

  .sign-up-link {
    color: white;
  }

  a {
    text-decoration: none;
    &:hover {
      color: #d04c4c;
      cursor: pointer;
    }
  }

  /* TODO -- bottom box-shadow */

  ul#profile-dropdown {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    &:hover {
      cursor: pointer;
    }
    
    div {
      background: white;
      border-right: 2px solid rgb(211, 45, 39);
      border-left: 2px solid rgb(211, 45, 39);
      border-bottom: 5px solid rgb(211, 45, 39);
      padding: 0.3em;
      border-top: 5px solid rgb(211, 45, 39);
      margin-top: 0.2em;
      border-radius: 0.5em;
      position: relative;
      top: 0px;
      min-width: 5em;
      font-size: 1em;
    }
    
    & > * {
      display: none;
      color: white;
    }

    li {
      font-size: 0.7em;
      padding: 0.5em;

      &:hover {
        font-size: 0.74em;
        cursor: pointer;
      }
    }

  }
}


#main-logo-li {
  display: flex;
  font-weight: bolder;
  font-size: 1.5em;

  & a {
    color: #a2f989;
    align-self: center;
  }
}

.sign-up-link {
  font-weight: bold;
}
.log-in-link {
  font-weight: bold;
}