/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/_default.scss */
body {
  font-size: 20px;
  width: 100%;
  min-width: 490px;
}

@media (max-device-width: 450px) {
  /* line 11, ../sass/_default.scss */
  body {
    font-size: 30px;
  }
}
/* line 16, ../sass/_default.scss */
li {
  list-style: none;
}

/* line 21, ../sass/_default.scss */
#main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: lightblue;
  width: 100%;
  height: 2.3em;
  font-size: 1.5em;
  align-items: center;
  padding: 2%;
  position: fixed;
  top: 0;
  z-index: 200;
  /* TODO -- bottom box-shadow */
}
/* line 38, ../sass/_default.scss */
#main-nav ul#profile-dropdown:hover {
  cursor: pointer;
}
/* line 42, ../sass/_default.scss */
#main-nav ul#profile-dropdown > * {
  display: none;
}

/* line 50, ../sass/_default.scss */
#secondary-app-container {
  margin: 5% 10%;
  margin-top: 5em;
  min-height: 100vh;
}

/* line 56, ../sass/_default.scss */
#footer {
  text-align: center;
  height: 2.3em;
  background-color: cadetblue;
  width: 100%;
  z-index: 200;
}

/* line 64, ../sass/_default.scss */
.dropdown-component {
  position: relative;
}
/* line 67, ../sass/_default.scss */
.dropdown-component .default-dropdown-option:hover {
  cursor: pointer;
  font-weight: bold;
}
/* line 72, ../sass/_default.scss */
.dropdown-component ul.dropdown-list {
  position: absolute;
  top: 0.5em;
  right: -2em;
  margin-top: 1em;
  background-color: white;
  border: 2px solid black;
  padding: 1em;
}
/* line 81, ../sass/_default.scss */
.dropdown-component ul.dropdown-list li {
  margin-bottom: 0.5em;
  text-align: end;
  padding-right: 1em;
}
/* line 85, ../sass/_default.scss */
.dropdown-component ul.dropdown-list li:hover {
  cursor: pointer;
  font-weight: bold;
}

/* line 93, ../sass/_default.scss */
.display-none {
  display: none;
}

/* line 97, ../sass/_default.scss */
.hidden {
  visibility: hidden;
}

/* line 5, ../sass/_home.scss */
#home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 3em;
  position: relative;
}
/* line 12, ../sass/_home.scss */
#home-container > * {
  margin-bottom: 5%;
}

/* line 18, ../sass/_home.scss */
#list-title {
  font-size: 1.5em;
  margin-bottom: 25px;
}
/* line 21, ../sass/_home.scss */
#list-title:hover {
  cursor: pointer;
}

/* line 26, ../sass/_home.scss */
#small-screen-sort-by-options {
  display: none;
}

@media (max-width: 749px), (max-device-width: 450px) {
  /* line 32, ../sass/_home.scss */
  #small-screen-sort-by-options {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7em;
    position: absolute;
    right: 0;
    top: 1.5em;
  }
  /* line 40, ../sass/_home.scss */
  #small-screen-sort-by-options * {
    margin-left: 0.4em;
  }
  /* line 44, ../sass/_home.scss */
  #small-screen-sort-by-options .dropdown-component {
    z-index: 200;
  }
  /* line 47, ../sass/_home.scss */
  #small-screen-sort-by-options .dropdown-component ul.dropdown-list {
    width: 200px;
  }
}
@media (min-width: 750px) {
  /* line 55, ../sass/_home.scss */
  #list-title {
    position: fixed;
    z-index: 400;
    width: 100%;
    text-align: center;
    height: 3em;
    background: white;
    padding-top: 1.15em;
    top: 2.3em;
  }
}
/* line 6, ../sass/_jobsView.scss */
#jobs-view-container {
  width: 100%;
  font-size: 0.86em;
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
}

/* line 14, ../sass/_jobsView.scss */
.job-container, .table-job-container {
  transition: all .3s ease-in-out;
}
/* line 17, ../sass/_jobsView.scss */
.job-container:hover, .table-job-container:hover {
  cursor: pointer;
  transform: scale(1.07);
}

/* line 23, ../sass/_jobsView.scss */
#page-controls {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  position: relative;
}
/* line 29, ../sass/_jobsView.scss */
#page-controls > .glyphicon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/* line 35, ../sass/_jobsView.scss */
#page-controls:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -10px;
  height: 1px;
  width: 50%;
  border-bottom: 1px dotted black;
}

@media (max-width: 749px), (max-device-width: 450px) {
  /* line 48, ../sass/_jobsView.scss */
  #page-controls {
    width: 80%;
    font-size: 1.6em;
  }

  /* line 53, ../sass/_jobsView.scss */
  #jobs-view-container {
    align-items: center;
  }
  /* line 56, ../sass/_jobsView.scss */
  #jobs-view-container table {
    display: none;
  }
  /* line 60, ../sass/_jobsView.scss */
  #jobs-view-container #components-view {
    width: 100%;
  }

  /* line 65, ../sass/_jobsView.scss */
  #list-legend {
    display: none;
  }

  /* line 69, ../sass/_jobsView.scss */
  .job-container {
    flex-flow: column nowrap;
    position: relative;
    margin-bottom: 10%;
    display: flex;
    text-align: center;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    border: 2px dotted rgba(0, 0, 0, 0.3);
  }
  /* line 80, ../sass/_jobsView.scss */
  .job-container .company-detail {
    margin: 3%;
    font-size: 1.5em;
    font-weight: bold;
  }
  /* line 86, ../sass/_jobsView.scss */
  .job-container .role-detail {
    margin: 3%;
    margin-bottom: 5%;
    font-size: 1.3em;
    font-weight: bold;
  }
  /* line 93, ../sass/_jobsView.scss */
  .job-container .date-detail {
    top: 10%;
    right: 5%;
    position: absolute;
    font-size: 0.95em;
  }
  /* line 100, ../sass/_jobsView.scss */
  .job-container .status-detail {
    font-size: 0.95em;
    font-weight: bold;
  }
  /* line 105, ../sass/_jobsView.scss */
  .job-container .contact-detail {
    display: none;
  }
}
@media (min-width: 750px) and (min-device-width: 451px) {
  /* line 114, ../sass/_jobsView.scss */
  #components-view {
    display: none;
  }

  /* line 118, ../sass/_jobsView.scss */
  #jobs-view-container {
    margin-top: 3em;
  }
  /* line 122, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table {
    width: 99%;
    border-collapse: initial;
    border-spacing: 0 0.5em;
    font-size: 0.85em;
  }
  /* line 129, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table tr {
    height: 50px;
  }
  /* line 133, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table td, #jobs-view-container #jobs-list-table th {
    text-align: center;
    font-weight: bold;
  }
  /* line 138, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    position: relative;
  }
  /* line 143, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th .outside-table-header-container {
    display: flex;
    justify-content: space-around;
  }
  /* line 148, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th .table-header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  /* line 153, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th .sort-icon-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.6em;
    margin-left: 5px;
    color: darkgrey;
  }
  /* line 159, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th .sort-icon-container * {
    z-index: -100;
  }
  /* line 163, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table th .sort-icon-container:hover {
    color: black;
    cursor: pointer;
  }
  /* line 171, ../sass/_jobsView.scss */
  #jobs-view-container #jobs-list-table td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  /* line 177, ../sass/_jobsView.scss */
  #jobs-view-container #page-controls {
    position: fixed;
    top: 178px;
    right: 1.5%;
  }
}
/* line 190, ../sass/_jobsView.scss */
#jobs-view-container .applied, #jobs-view-container table tr.applied {
  background-color: rgba(228, 251, 233, 0.1);
}
/* line 193, ../sass/_jobsView.scss */
#jobs-view-container .phone-screen {
  background-color: #C9F7D4;
}
/* line 196, ../sass/_jobsView.scss */
#jobs-view-container .on-site {
  background-color: #85ED9F;
}
/* line 199, ../sass/_jobsView.scss */
#jobs-view-container .offer {
  background-color: #5DE77F;
}
/* line 202, ../sass/_jobsView.scss */
#jobs-view-container .rejected {
  background-color: rgba(253, 106, 106, 0.6);
}

/*
#D6F6D9
#AEEEB4
#78E382
#43D950


#E4FBE9
#AEF3BF
#85ED9F
#42E36A

*/
