/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_default.scss */
body {
  font-size: 20px;
  width: 100%;
  min-width: 500px;
}

@media (max-device-width: 450px) {
  /* line 12, ../sass/_default.scss */
  body {
    font-size: 30px;
  }
}
/* line 17, ../sass/_default.scss */
li {
  list-style: none;
}

/* line 21, ../sass/_default.scss */
button:hover {
  cursor: pointer;
}

/* line 25, ../sass/_default.scss */
#footer {
  text-align: center;
  height: 2.3em;
  color: white;
  width: 100%;
  z-index: 1000;
  margin-top: 4em;
  position: fixed;
  bottom: 0;
  background-color: #483030;
  border-bottom: 5px solid #94e294;
}

/* line 41, ../sass/_default.scss */
#secondary-app-container {
  margin: 5% 10%;
  margin-top: 5em;
  min-height: 100vh;
}

/* line 48, ../sass/_default.scss */
.dropdown-component {
  position: relative;
}
/* line 51, ../sass/_default.scss */
.dropdown-component .default-dropdown-option:hover {
  cursor: pointer;
  font-weight: bold;
}
/* line 56, ../sass/_default.scss */
.dropdown-component #selected-option:hover {
  cursor: pointer;
}
/* line 60, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu {
  flex-flow: column nowrap;
}
/* line 63, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu .applied-dd {
  border-bottom: 3px solid rgba(220, 255, 230, 0.8);
}
/* line 66, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu .phone-screen-dd {
  border-bottom: 3px solid #C9F7D4;
}
/* line 69, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu .on-site-dd {
  border-bottom: 3px solid #85ED9F;
}
/* line 72, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu .offer-dd {
  border-bottom: 3px solid #5DE77F;
}
/* line 75, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu .rejected-dd {
  border-bottom: 3px solid rgba(253, 106, 106, 0.6);
}
/* line 81, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu > li {
  margin-bottom: 0.5em;
  padding: 0.5em;
}
/* line 85, ../sass/_default.scss */
.dropdown-component ul.dropdown-menu > li:hover {
  cursor: pointer;
  font-weight: bold;
}

/* line 93, ../sass/_default.scss */
.form-container {
  position: fixed;
  max-width: 700px;
  max-height: 75vh;
  padding: 2em;
  background: white;
  border: 1px solid blue;
  font-size: 0.8em;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  top: 16em;
  bottom: 10%;
  z-index: 500;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 112, ../sass/_default.scss */
.form-container #done-button:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
  font-weight: bold;
}

/* line 120, ../sass/_default.scss */
.form-line {
  display: flex;
  flex-flow: row nowrap;
}

/* line 125, ../sass/_default.scss */
.form-line-component {
  width: 100%;
  padding: 0 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
/* line 132, ../sass/_default.scss */
.form-line-component #delete-done-button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

/* line 142, ../sass/_default.scss */
.container-title {
  font-size: 1.5em;
  align-self: center;
  font-weight: bold;
}

/* line 149, ../sass/_default.scss */
.display-none {
  display: none;
}

/* line 153, ../sass/_default.scss */
.visibility-hidden {
  visibility: hidden;
}

/* line 157, ../sass/_default.scss */
.buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
}

/* line 165, ../sass/_default.scss */
.btn-primary {
  background-color: #72cc6c;
  border-color: #72cc6c;
}
/* line 168, ../sass/_default.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:active:hover {
  background-color: #3da945;
  border-color: #3da945;
}

/* line 2, ../sass/_nav.scss */
#main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #483030;
  border-top: 5px solid #94e294;
  color: white;
  width: 100%;
  height: 2.3em;
  font-size: 1.2em;
  padding: 0.6em;
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 490px;
  /* TODO -- bottom box-shadow */
}
/* line 19, ../sass/_nav.scss */
#main-nav .sign-up-link {
  color: white;
}
/* line 23, ../sass/_nav.scss */
#main-nav a {
  text-decoration: none;
}
/* line 25, ../sass/_nav.scss */
#main-nav a:hover {
  color: #d04c4c;
  cursor: pointer;
}
/* line 33, ../sass/_nav.scss */
#main-nav ul#profile-dropdown {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
/* line 38, ../sass/_nav.scss */
#main-nav ul#profile-dropdown:hover {
  cursor: pointer;
}
/* line 42, ../sass/_nav.scss */
#main-nav ul#profile-dropdown div {
  background: white;
  border-right: 2px solid #d32d27;
  border-left: 2px solid #d32d27;
  border-bottom: 5px solid #d32d27;
  padding: 0.3em;
  border-top: 5px solid #d32d27;
  margin-top: 0.2em;
  border-radius: 0.5em;
  position: relative;
  top: 0px;
  min-width: 5em;
  font-size: 1em;
}
/* line 57, ../sass/_nav.scss */
#main-nav ul#profile-dropdown > * {
  display: none;
  color: white;
}
/* line 62, ../sass/_nav.scss */
#main-nav ul#profile-dropdown li {
  font-size: 0.7em;
  padding: 0.5em;
}
/* line 66, ../sass/_nav.scss */
#main-nav ul#profile-dropdown li:hover {
  font-size: 0.74em;
  cursor: pointer;
}

/* line 76, ../sass/_nav.scss */
#main-logo-li {
  display: flex;
  font-weight: bolder;
  font-size: 1.5em;
}
/* line 81, ../sass/_nav.scss */
#main-logo-li a {
  color: #a2f989;
  align-self: center;
}

/* line 87, ../sass/_nav.scss */
.sign-up-link {
  font-weight: bold;
}

/* line 90, ../sass/_nav.scss */
.log-in-link {
  font-weight: bold;
}

/* line 2, ../sass/_authForms.scss */
.auth-input-error {
  border: 1px dotted rgba(255, 0, 0, 0.64);
}

/* line 6, ../sass/_authForms.scss */
#flash-messages-container {
  font-size: 0.9em;
  font-weight: bold;
}
/* line 10, ../sass/_authForms.scss */
#flash-messages-container > div {
  margin: 1.5em;
  padding: 1em;
}
/* line 15, ../sass/_authForms.scss */
#flash-messages-container #flash-help {
  margin: 0.5em;
  padding: 0;
  font-size: 0.8em;
}
/* line 21, ../sass/_authForms.scss */
#flash-messages-container .error-flash {
  border-radius: 0.4em;
  background-color: rgba(255, 0, 0, 0.34);
}
/* line 26, ../sass/_authForms.scss */
#flash-messages-container .success-flash {
  border-radius: 0.4em;
  background-color: rgba(0, 255, 92, 0.34);
}
/* line 31, ../sass/_authForms.scss */
#flash-messages-container .flash-message:hover {
  cursor: pointer;
}

/* line 36, ../sass/_authForms.scss */
#log-in-form, #sign-up-form {
  display: flex;
  left: 4em;
  min-width: 400px;
  top: 10em;
  flex-flow: column nowrap;
  color: black;
  font-size: 0.8em;
}
/* line 45, ../sass/_authForms.scss */
#log-in-form .form-title, #sign-up-form .form-title {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 50, ../sass/_authForms.scss */
#log-in-form > *, #sign-up-form > * {
  margin-bottom: 1em;
}
/* line 54, ../sass/_authForms.scss */
#log-in-form .auth-button, #sign-up-form .auth-button {
  align-self: flex-end;
}
/* line 58, ../sass/_authForms.scss */
#log-in-form input, #sign-up-form input {
  width: 100%;
}
/* line 62, ../sass/_authForms.scss */
#log-in-form .form-line-component, #sign-up-form .form-line-component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* line 69, ../sass/_authForms.scss */
#auth-options-container {
  font-size: 0.67em;
}
/* line 71, ../sass/_authForms.scss */
#auth-options-container > * {
  margin-left: 1.5em;
}

/* line 76, ../sass/_authForms.scss */
#auth-user-input-container {
  display: flex;
  flex-flow: column nowrap;
}
/* line 79, ../sass/_authForms.scss */
#auth-user-input-container > * {
  margin-bottom: 1em;
}

/* line 84, ../sass/_authForms.scss */
.auth-form-container {
  background: rgba(72, 48, 48, 0.99);
  border-radius: 1em;
  padding: 1em;
  color: white;
  font-size: 0.87em;
}
/* line 92, ../sass/_authForms.scss */
.auth-form-container .form-title {
  color: white;
}

@media (max-device-width: 450px) and (max-width: 749px) {
  /* line 99, ../sass/_authForms.scss */
  .auth-form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
@media (min-device-width: 451px) and (min-width: 750px) {
  /* line 108, ../sass/_authForms.scss */
  .auth-form-container {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  /* line 114, ../sass/_authForms.scss */
  #flash-messages-container {
    width: 45%;
  }

  /* line 117, ../sass/_authForms.scss */
  #log-in-form, #sign-up-form {
    max-width: 50%;
  }
}
/* line 1, ../sass/_landingPage.scss */
#landing-page-container {
  background-image: url(../assets/bg1.png);
  background-size: cover;
  position: absolute;
  top: 2.4em;
  left: 0;
  right: 0;
  min-height: 650px;
}
/* line 10, ../sass/_landingPage.scss */
#landing-page-container .auth-form-container {
  background: 0;
}

/* line 15, ../sass/_landingPage.scss */
#sign-up-blurb {
  background: white;
  height: 90%;
  max-width: 450px;
  position: absolute;
  right: 0.5em;
  top: 1em;
  padding: 1em;
  border-radius: 0.4em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: rgba(19, 25, 31, 0.8);
  color: #ffffff;
  font-weight: bold;
  border-top-left-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
}
/* line 33, ../sass/_landingPage.scss */
#sign-up-blurb #blurb-container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 38, ../sass/_landingPage.scss */
#sign-up-blurb #blurb-container #intro-message {
  height: 70%;
  overflow: auto;
  padding: 1em;
}
/* line 45, ../sass/_landingPage.scss */
#sign-up-blurb #flash-messages-container {
  width: 100%;
  font-size: 0.6em;
}
/* line 50, ../sass/_landingPage.scss */
#sign-up-blurb .auth-form-container {
  flex-flow: column nowrap;
  flex-direction: column-reverse;
  color: white;
}
/* line 55, ../sass/_landingPage.scss */
#sign-up-blurb .auth-form-container .form-title {
  color: white;
}
/* line 60, ../sass/_landingPage.scss */
#sign-up-blurb button#go-back {
  margin-bottom: 2em;
  font-size: 0.6em;
}
/* line 65, ../sass/_landingPage.scss */
#sign-up-blurb button#landing-sign-up {
  position: absolute;
  width: 100%;
  height: 3em;
  bottom: 0;
  font-size: 1em;
}
/* line 73, ../sass/_landingPage.scss */
#sign-up-blurb button#submit-login {
  width: 100%;
  margin-top: 2em;
  height: 4em;
}

/* line 5, ../sass/_home.scss */
#home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 3em;
  position: relative;
}
/* line 12, ../sass/_home.scss */
#home-container > * {
  margin-bottom: 5%;
}

/* line 18, ../sass/_home.scss */
#list-title {
  font-size: 1.5em;
  width: 5em;
}
/* line 22, ../sass/_home.scss */
#list-title:hover {
  cursor: pointer;
}

/* line 27, ../sass/_home.scss */
#list-title-container {
  z-index: 600;
  position: fixed;
  width: 100%;
  text-align: center;
  background: white;
  padding: 1.5em;
  top: 2.4em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 750px) and (min-device-width: 451px) {
  /* line 43, ../sass/_home.scss */
  #table-header-copy {
    position: fixed;
    top: 10em;
    font-size: 0.75em;
    width: 79%;
    left: 6.5em;
  }
  /* line 50, ../sass/_home.scss */
  #table-header-copy .company-data-cell {
    width: 121px;
  }
  /* line 53, ../sass/_home.scss */
  #table-header-copy .role-data-cell {
    width: 139px;
  }
  /* line 56, ../sass/_home.scss */
  #table-header-copy .contact-data-cell {
    width: 224px;
  }
  /* line 59, ../sass/_home.scss */
  #table-header-copy .status-data-cell {
    width: 157px;
  }
  /* line 62, ../sass/_home.scss */
  #table-header-copy .date-data-cell {
    width: 133px;
  }
}
/* line 7, ../sass/_jobsView.scss */
#jobs-view-container {
  font-size: 0.86em;
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  overflow: auto;
  position: fixed;
  width: 80%;
  bottom: 2%;
  top: 6em;
  z-index: 600;
}

/* line 32, ../sass/_jobsView.scss */
.job-container, .table-job-container {
  transition: all .3s ease-in-out;
}
/* line 35, ../sass/_jobsView.scss */
.job-container:hover, .table-job-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* line 41, ../sass/_jobsView.scss */
#page-controls {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  position: relative;
}
/* line 47, ../sass/_jobsView.scss */
#page-controls * {
  padding: 0 1em;
}
/* line 51, ../sass/_jobsView.scss */
#page-controls > .glyphicon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/* line 57, ../sass/_jobsView.scss */
#page-controls:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -10px;
  height: 1px;
  width: 50%;
  border-bottom: 1px dotted black;
}

@media (min-device-width: 451px) {
  /* line 70, ../sass/_jobsView.scss */
  #sort-desc.icon-active:hover, #sort-asc.icon-active:hover {
    color: black;
    cursor: pointer;
  }
}
@media (max-width: 749px), (max-device-width: 450px) {
  /* line 78, ../sass/_jobsView.scss */
  #small-screen-order-direction {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    left: 4em;
    top: 7em;
    justify-content: space-around;
  }
  /* line 86, ../sass/_jobsView.scss */
  #small-screen-order-direction #sort-desc, #small-screen-order-direction #sort-asc {
    color: darkgrey;
  }
  /* line 89, ../sass/_jobsView.scss */
  #small-screen-order-direction #sort-desc.black, #small-screen-order-direction #sort-asc.black {
    color: black;
  }

  /* line 96, ../sass/_jobsView.scss */
  #small-screen-sort-by-options {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7em;
    position: fixed;
    right: 5.5em;
    top: 10em;
  }
  /* line 104, ../sass/_jobsView.scss */
  #small-screen-sort-by-options * {
    margin-left: 0.4em;
  }
  /* line 108, ../sass/_jobsView.scss */
  #small-screen-sort-by-options .dropdown-component {
    z-index: 200;
  }
  /* line 111, ../sass/_jobsView.scss */
  #small-screen-sort-by-options .dropdown-component ul.dropdown-list {
    width: 200px;
  }

  /* line 117, ../sass/_jobsView.scss */
  #page-controls {
    width: 80%;
    font-size: 1.6em;
    bottom: 0em;
    padding-bottom: 3em;
  }

  /* line 124, ../sass/_jobsView.scss */
  #jobs-view-container {
    align-items: center;
  }
  /* line 127, ../sass/_jobsView.scss */
  #jobs-view-container table {
    display: none;
  }
  /* line 131, ../sass/_jobsView.scss */
  #jobs-view-container #components-view {
    width: 100%;
    position: relative;
  }

  /* line 137, ../sass/_jobsView.scss */
  #list-legend {
    display: none;
  }

  /* line 141, ../sass/_jobsView.scss */
  .job-container {
    flex-flow: column nowrap;
    position: relative;
    margin-bottom: 10%;
    display: flex;
    text-align: center;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    border: 2px dotted rgba(0, 0, 0, 0.3);
  }
  /* line 152, ../sass/_jobsView.scss */
  .job-container .company-detail {
    margin: 3%;
    font-size: 1.5em;
    font-weight: bold;
  }
  /* line 158, ../sass/_jobsView.scss */
  .job-container .role-detail {
    margin: 3%;
    margin-bottom: 5%;
    font-size: 1.3em;
    font-weight: bold;
  }
  /* line 165, ../sass/_jobsView.scss */
  .job-container .date-detail {
    top: 10%;
    right: 5%;
    position: absolute;
    font-size: 0.95em;
  }
  /* line 172, ../sass/_jobsView.scss */
  .job-container .status-detail {
    font-size: 0.95em;
    font-weight: bold;
  }
  /* line 177, ../sass/_jobsView.scss */
  .job-container .contact-detail {
    display: none;
  }
}
@media (max-device-width: 450px) {
  /* line 184, ../sass/_jobsView.scss */
  #jobs-view-container {
    top: 8.5em;
  }
}
@media (min-width: 750px) and (min-device-width: 451px) {
  /* line 192, ../sass/_jobsView.scss */
  #small-screen-sort-by-options, #small-screen-order-direction {
    display: none;
  }

  /* line 195, ../sass/_jobsView.scss */
  #components-view {
    display: none;
  }

  /* line 199, ../sass/_jobsView.scss */
  th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    position: relative;
  }
  /* line 204, ../sass/_jobsView.scss */
  th .outside-table-header-container {
    display: flex;
    justify-content: space-around;
  }
  /* line 209, ../sass/_jobsView.scss */
  th .table-header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  /* line 214, ../sass/_jobsView.scss */
  th .sort-icon-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.6em;
    margin-left: 5px;
    color: darkgrey;
  }
  /* line 220, ../sass/_jobsView.scss */
  th .sort-icon-container * {
    z-index: -100;
  }
  /* line 224, ../sass/_jobsView.scss */
  th .sort-icon-container:hover {
    color: black;
    cursor: pointer;
  }

  /* line 232, ../sass/_jobsView.scss */
  table {
    width: 99%;
    border-collapse: initial;
    border-spacing: 0 0.5em;
    font-size: 0.85em;
  }
  /* line 239, ../sass/_jobsView.scss */
  table tr {
    height: 50px;
  }
  /* line 243, ../sass/_jobsView.scss */
  table td, table th {
    text-align: center;
    font-weight: bold;
  }
  /* line 248, ../sass/_jobsView.scss */
  table td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    min-width: 1em;
  }

  /* line 257, ../sass/_jobsView.scss */
  #jobs-list-table thead {
    display: none;
  }

  /* line 260, ../sass/_jobsView.scss */
  #jobs-list-table {
    position: relative;
    top: 4em;
  }
  /* line 264, ../sass/_jobsView.scss */
  #jobs-list-table tr td:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }
  /* line 269, ../sass/_jobsView.scss */
  #jobs-list-table tr td:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  /* line 275, ../sass/_jobsView.scss */
  #copy-table {
    position: fixed;
    z-index: 100;
    background: white;
    width: 80%;
    top: 9em;
  }

  /* line 284, ../sass/_jobsView.scss */
  #jobs-view-container {
    margin-top: 2em;
  }

  /* line 288, ../sass/_jobsView.scss */
  #page-controls {
    position: fixed;
    top: 8em;
    right: 10.5%;
    font-size: 0.8em;
  }
}
/* line 306, ../sass/_jobsView.scss */
#jobs-view-container .applied, #jobs-view-container table tr.applied {
  background-color: rgba(220, 255, 230, 0.8);
}
/* line 309, ../sass/_jobsView.scss */
#jobs-view-container .phone-screen {
  background-color: #C9F7D4;
}
/* line 312, ../sass/_jobsView.scss */
#jobs-view-container .on-site {
  background-color: #85ED9F;
}
/* line 315, ../sass/_jobsView.scss */
#jobs-view-container .offer {
  background-color: #5DE77F;
}
/* line 318, ../sass/_jobsView.scss */
#jobs-view-container .rejected {
  background-color: rgba(253, 106, 106, 0.6);
}

/*
#D6F6D9
#AEEEB4
#78E382
#43D950


#E4FBE9
#AEF3BF
#85ED9F
#42E36A

*/
/* line 4, ../sass/_edit-form.scss */
#edit-job-container {
  outline: 3px solid black;
}

/* line 5, ../sass/_addJob.scss */
#add-job-component {
  position: fixed;
  top: 5.3em;
  left: 10.5%;
  font-size: 0.8em;
  z-index: 700;
  margin-bottom: 0;
}
/* line 13, ../sass/_addJob.scss */
#add-job-component button#delete-button {
  display: none;
}
/* line 17, ../sass/_addJob.scss */
#add-job-component #delete-tips {
  display: none;
}

/* line 21, ../sass/_addJob.scss */
#add-job-container {
  outline: 3px solid black;
}

/* line 1, ../sass/_jobForm.scss */
form#job-extended {
  min-width: 400px;
}
/* line 4, ../sass/_jobForm.scss */
form#job-extended > *, form#job-extended > * > div {
  margin-bottom: 1em;
}
/* line 8, ../sass/_jobForm.scss */
form#job-extended div.job-req {
  display: none;
}
/* line 10, ../sass/_jobForm.scss */
form#job-extended label {
  float: left;
  padding-bottom: 1em;
  color: darkgrey;
  font-size: 1.2em;
}
/* line 17, ../sass/_jobForm.scss */
form#job-extended button.form-done {
  align-self: flex-end;
}
/* line 21, ../sass/_jobForm.scss */
form#job-extended button#add-job {
  margin-top: 2em;
  align-self: center;
}
/* line 26, ../sass/_jobForm.scss */
form#job-extended input {
  padding: 1.2em;
  font-size: 1.3em;
}

/* line 34, ../sass/_jobForm.scss */
.shortcut-tips {
  color: #777575;
}

/* line 38, ../sass/_jobForm.scss */
#verify-delete {
  position: fixed;
  background-color: white;
  border: 2px solid red;
  padding: 1em;
  flex-flow: column nowrap;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 25em;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 1em;
  background: #fad7d7;
}
/* line 54, ../sass/_jobForm.scss */
#verify-delete > * {
  margin-bottom: 2em;
}

/* line 60, ../sass/_jobForm.scss */
.form-line-component#status-div {
  width: 20%;
  position: relative;
}
/* line 64, ../sass/_jobForm.scss */
.form-line-component#status-div button {
  width: 100%;
  height: 100%;
  align-self: center;
}
/* line 70, ../sass/_jobForm.scss */
.form-line-component#status-div .dropdown-menu {
  left: -3em;
}
/* line 73, ../sass/_jobForm.scss */
.form-line-component#status-div .dropdown-menu li {
  margin: 1em;
}

/* line 79, ../sass/_jobForm.scss */
.added-job {
  border: 1px solid darkgrey;
  box-shadow: 0 1px 8px 0 rgba(197, 141, 141, 0.2), 0 6px 10px -2px rgba(0, 0, 0, 0.19);
  padding: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5%;
}
/* line 89, ../sass/_jobForm.scss */
.added-job span.remove-added-job {
  visibility: hidden;
  position: absolute;
  right: -3%;
  top: -10%;
  font-size: 1.5em;
  background-color: white;
}
/* line 98, ../sass/_jobForm.scss */
.added-job a:hover {
  font-size: 1.05em;
  font-weight: bold;
}
/* line 103, ../sass/_jobForm.scss */
.added-job:hover {
  box-shadow: 0 1px 8px 0 #2e2ce8, 0 6px 10px -2px rgba(0, 134, 253, 0.19);
  cursor: pointer;
}
/* line 108, ../sass/_jobForm.scss */
.added-job .job-status {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
/* line 112, ../sass/_jobForm.scss */
.added-job .job-status span.glyphicon-menu-down {
  font-size: 0.75em;
  color: rgba(99, 99, 99, 0.7);
  padding: 8%;
  top: -20%;
  font-weight: bold;
}
/* line 119, ../sass/_jobForm.scss */
.added-job .job-status span.glyphicon-menu-down:hover {
  color: rgba(14, 118, 142, 0.88);
  transform: scale(1.3);
}

@media (max-width: 749px) {
  /* line 130, ../sass/_jobForm.scss */
  .form-line {
    display: flex;
    flex-flow: row nowrap;
  }

  /* line 135, ../sass/_jobForm.scss */
  .form-line-component {
    padding: 0 1%;
  }
}
